<nav class="site-navbar" id="navbar">
  <div class="navbar-inner">
    <a href="/index.html" class="navbar-logo" aria-label="ACM-W home">
      <img data-src="/images/acmw_logo.png" alt="ACM-W logo">
    </a>
    <button type="button" class="nav-toggle" id="navToggle" aria-label="Toggle navigation">&#9776;</button>
    <ul class="nav-menu" id="navMenu">
      <li><a href="/index.html" class="nav-link" data-nav-key="home">Home</a></li>
      <li><a href="/index.html#about" class="nav-link" data-nav-key="about" data-home-anchor="about">About</a></li>
      <li class="nav-dropdown">
        <a href="/index.html#activities" class="nav-link" data-nav-key="involved" data-home-anchor="activities">Get Involved <i class="fa fa-caret-down"></i></a>
        <div class="nav-dropdown-menu">
          <a href="/html/events.html" data-nav-key="events">Our Events</a>
          <a href="/html/mentorship.html" data-nav-key="mentorship">Mentorship Programme</a>
          <a href="/html/discover.html" data-nav-key="discover">Discover Opportunities</a>
        </div>
      </li>
      <li><a href="/blog.html" class="nav-link" data-nav-key="blog">Blog</a></li>
      <li><a href="/index.html#team" class="nav-link" data-nav-key="team" data-home-anchor="team">Team</a></li>
      <li><a href="/index.html#faq" class="nav-link" data-nav-key="faq" data-home-anchor="faq">FAQs</a></li>
      <li><a href="/index.html#contact" class="nav-link" data-nav-key="contact" data-home-anchor="contact">Contact</a></li>
    </ul>
  </div>
</nav>
